@(user: User, categories: List[Category], changePasswordForm: Form[forms.ChangePasswordForm])

@import views.html.helper

@personalMenu(user, categories) {
    <h1>
        Passwort ändern
    </h1>
    <div class="personal-info">
        @helper.form(action = routes.UserController.changePassword()) {
            @helper.inputPassword(changePasswordForm("oldPassword"))
            @helper.inputPassword(changePasswordForm("newPassword"))
            @helper.inputPassword(changePasswordForm("confirmPassword"))
            <button type="submit">Passwort ändern</button>
        }
    </div>
}